@model Livraria.Sistema.Models.CATEGORIAS

@{
    ViewBag.Title = "Details";
}

<br>
<h2>Dados da categoria</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Editar", "Edit", new { id = Model.IDCATEGORIA })
    </button>
    <button type="button" class="btn btn-outline-primary">
        @Html.ActionLink("Voltar para a lista", "Index")
    </button>
</p>
